section {
  margin: 20px auto;
  border: 1px dotted gray;
  width: 80%;
  height: 150px;
}
section h1 {
  font-size: 1.5;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px dotted gray;
}
section div {
  margin: 10px;
}
